/* BENEFITS SECTION */
@include theme() {
    &benefits {
        @include containerFluid;
        @include sectionSpacing2;
        background-color: $color-light-grayish-blue;

        @include setResponsiveDesign($breakpoint-large) {
            margin-top: -70px;
        }

        &__container {
            @include container;
        }

        &__info {
            @include container(540px, 0, 0);
            margin-bottom: 60px;
            text-align: center;

            @include setResponsiveDesign($breakpoint-large) {
                margin-inline: 0;
                text-align: left;
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__list {
            @include flex(flex-start, stretch);
            gap: 40px;
        }

        &__item {
            @include container(480px, 0, 0);
            @include flex1;
            text-align: center;

            @include setResponsiveDesign($breakpoint-medium) {
                max-width: none;
                @include flex2(40px);
            }

            @include setResponsiveDesign($breakpoint-large) {
                text-align: left;
            }

            @include setResponsiveDesign($breakpoint-x-large) {
                @include flex4(40px);
            }

            &-image {
                margin-bottom: 20px;

                img {
                    margin-inline: auto;

                    @include setResponsiveDesign($breakpoint-large) {
                        margin: 0;
                    }
                }
            }

            &-title {
                margin-bottom: 20px;
            }
        }
    }
}